/*CSS For Web Design University*/
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,700,300italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Proza+Libre);
@import url(https://fonts.googleapis.com/css?family=Merriweather);

/* This changes everything inside the body tag. */
@import url(http://fonts.googleapis.com/css?family=Merriweather);
@import url(http://fonts.googleapis.com/css?family=Proza+Libre);

body {
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

.merriweather-header {
  font-family: Merriweather;
  font-size: 34px;
  font-weight: normal;
  word-spacing:-0.2rem;
  line-height:1.1;
  color: #241c15;

}

.proza-libre-content {
  font-family: "Proza Libre";
  font-size: 14px;
  color: #241c15;
}

.proza-libre-password-validation {
  font-family: "Proza Libre";
  font-size: 12px;
  color: #241c15;
}

.proza-libre-content-footer {
  font-family: "Proza Libre";
  font-size: 11px;
  color: rgba(36,28,21,0.65);
}

form{
  display: inline-block;
  margin-left: 250px;
  margin-right: auto;
  text-align: left;
}
/*FakeChimpchimp Title*/

h1{
	text-align: center;
	font-family: "Proza Libre";
	font: 32pt;
  margin-top: 150px;
	color: black;
}
h2{
	text-align: center;
	font-family: "Proza Libre";
	font: 32pt;
	color: black;
}
h3{
	text-align: center;
	font-family: "Proza Libre";
	font: 14pt;
	color: black;

}



input[type=text], select {
  width: 33%;
  padding: 12px 150px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type=file], select {
  width: 33%;
  padding: 12px 150px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


hopper{
	text-align: center;
	font-family: "Proza Libre", FreeSerif, serif;
	font: 14pt;
	color: #241c15;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
hopperTWO{
	text-align: center;
	font-family: "Proza Libre", FreeSerif, serif;
	font: 14pt;
	color: #241c15;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

gsbutton{
  color: #007c89;
  width: 100px;
  padding: 12px 0px;
}

clickgs{
  font-family:"Proza Libre", FreeSerif, serif;
  font-size: 8pt;
  color: black
}

hr{
  text-align: center;
	height: 5px;
	color: black;
}

p{
  text-align: center;
	font-family:"Proza Libre", FreeSerif, serif;
	font-size: 12pt;
	text-align: left;
	color: black
}

pwd{
  text-align: center;
	font-family:"Proza Libre", FreeSerif, serif;
	font-size: 11pt;
	text-align: left;
  margin-left: 40px;
  margin-right: 40px;
	text-indent: 48px;
	font-color: rgba(36,28,21,0.65);
}




name {
  text-align: center;
	font-family:"Times New Roman", "Book Antiqua", Palatino, FreeSerif, serif;
	font-size: 12pt;
	text-indent: 48px;
	color:white;
}

a {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
	color: #3b5998;
	text-align: center;
}

a:hover {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
  color: blue;
}

														/*Class Styles*/
/*Background Themes & Colours*/
.theme-background {color:blue !important; background-color:#ffc0cb !important}

/*Object Positioning*/
.top-position,
.bottom-position{position:fixed;width:100%;z-index:1}.top-position{top:0}.bottom-position{bottom:0}
.topleft-position{position:absolute;left:0;top:0}.w3-display-topright{position:absolute;right:0;top:0}
.bottomleft-position{position:absolute;left:0;bottom:0}.w3-display-bottomright{position:absolute;right:0;bottom:0}
.bottommiddle-position{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.left-position{float:left!important}.w3-right{float:right!important} /*Dropdown Positioning*/

/*Font Size*/
.xlarge-font{font-size:48px!important}

/*Font Alignment*/
.left-position-align{text-align:left!important}
.center-position{text-align:center!important}

/*Margins*/
.margin-Style{margin:16px!important}.margin-Style-top{margin-top:16px!important}.margin-Style-bottom{margin-bottom:16px!important}

/*Transparent OR Colour Change Hovering*/
.hover-theme:hover {color:#fff !important; background-color:#000000 !important}
.blue,.hover-blue:hover{color:#fff!important;background-color:#8b9dc3!important}
.white,.hover-white:hover{color:#fff!important;background-color:#ffffff!important}

/*For Dealing with a variety of Technology Types/ Screen Sizes*/
/*For Dealing with a variety of Technology Types/ Screen Sizes*/
/*For Determing this medium is a LAPTOP*/
@media (min-width:601px){.col-Style.m1{width:8.33333%}.col-Style.m2{width:16.66666%}.col-Style.m3,.w3-quarter{width:24.99999%}.col-Style.m4,.w3-third{width:33.33333%}.w3-half{width:50%}
.col-Style.m5{width:41.66666%}.col-Style.m6,.w3-half{width:49.99999%}.col-Style.m7{width:58.33333%}.col-Style.m8,.w3-twothird{width:66.66666%}
.col-Style.m9,.w3-threequarter{width:74.99999%}.col-Style.m10{width:83.33333%}.col-Style.m11{width:91.66666%}.col-Style.m12{width:99.99999%}}
@media (max-width:600px){.modal-Style-content{margin:0 10px;width:auto!important}.modal-Style{padding-top:30px}
.w3-dropdown-hover.w3-mobile .w3-dropdown-content,.w3-dropdown-click.w3-mobile .w3-dropdown-content{position:relative}
.w3-hide-small{display:none!important}.w3-mobile{display:block;width:100%!important}.bar-Style-item.w3-mobile,.w3-dropdown-hover.w3-mobile,.w3-dropdown-click.w3-mobile{text-align:center}
.w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .btn-Style,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .btn-Style,.w3-dropdown-click.w3-mobile .w3-button{width:100%}}
@media (max-width:768px){.modal-Style-content{width:500px}.modal-Style{padding-top:50px}}
@media (min-width:993px){.modal-Style-content{width:900px}.w3-hide-large{display:none!important}.sidebar-Style.col-Stylelapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.w3-hide-medium{display:none!important}}
@media (max-width:992px){.sidebar-Style.col-Stylelapse{display:none}.w3-main{margin-left:0!important;margin-right:0!important}.w3-auto{max-width:100%}}
