@media screen and (max-width:1000px) {
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.circle {
    border-radius: 50%;
    display: inline-block;
}
.circle img {
    border-radius: 50%;
    display: block;
}
.background-circle {
    background-image: url( 'http://lorempixel.com/200/200/cats/' );
    height: 50px;
    width: 50px;
}

h1{
	text-align: left;
	font-family: "Verdana";
	font: 28pt;
  margin-top: 50px;
  margin-left: 50px;
	color: black;
}
h2{
	text-align: center;
	font-family: "Verdana";
	font: 14pt;
	color: black;
}
h3{
	text-align: left;
	font-family: "Verdana";
	font: 14pt;
	color: black;
  margin-left: 520px;
  margin-right: 100px;
}

hr{
  text-align: center;
	height: 5px;
	color: black;
}

p{
  text-align: center;
	font-family:"Verdana";
	font-size: 14pt;
	text-align: left;
	color: black
}


a {
	font-family:"Verdana";
	color: #3b5998;
	text-align: center;
}

a:hover {
	font-family:"Verdana";
  color: blue;
}
}



@media screen and (max-width:999px) {
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.circle {
    border-radius: 50%;
    display: inline-block;
}
.circle img {
    border-radius: 50%;
    display: block;
}
.background-circle {
    background-image: url( 'http://lorempixel.com/200/200/cats/' );
    height: 50px;
    width: 50px;
}

h1{
	text-align: left;
	font-family: "Verdana";
	font: 28pt;
  margin-top: 50px;
  margin-left: 50px;
	color: black;
}
h2{
	text-align: center;
	font-family: "Verdana";
	font: 14pt;
	color: black;
}
h3{
	text-align: left;
	font-family: "Verdana";
	font: 14pt;
	color: black;
  margin-left: 520px;
  margin-right: 100px;
}

hr{
  text-align: center;
	height: 5px;
	color: black;
}

p{
  text-align: center;
	font-family:"Verdana";
	font-size: 14pt;
	text-align: left;
	color: black
}


a {
	font-family:"Verdana";
	color: #3b5998;
	text-align: center;
}

a:hover {
	font-family:"Verdana";
  color: blue;
}
}
